<form action="http://127.0.0.1:8000/api/SellerRegister/" method="POST">
    {% csrf_token %}
    <input type='text' name='username' placeholder="username" />
    <input type='password' name='password' placeholder="password" />
    <input type='email' name='email' placeholder="email" />
    <input type='number' name='contact_number' placeholder="contact number" />
    <input type='checkbox' name='isSeller' value="True" placeholder="isSeller" />
    <input type='number' name='adharCardNumber' placeholder="adharCardNumber" />
    <input type='number' name='PanNumber' placeholder="PanNumber" />
    <input type="submit" value="save">
</form>